.marquee-container {
  width: 100%;
  background-color:red; /* Adjust background color */
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1020; /* Ensure it sits above other content */
  overflow: hidden; /* Hide overflowing content */
}

.marquee-content {
  display: flex;
  white-space: nowrap;
  animation: marquee 18s linear infinite;
}

.marquee-box {
  margin: 0 15px;
  border-radius: 5px;
  font-size: 1rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-weight: bold;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.navbar {
  margin-top: 50px; /* Adjust to ensure navbar is below marquee */
}


.navbar {
  margin-top: 30px; /* Adjust to ensure navbar is below marquee */
}

.navbar {
  transition: background-color 0.5s ease;
}
.navbar.scrolled {
  background-color: #010066 !important;
  color: #fff !important;
}
.navbar-content .navbar-nav .nav-link {
  color: #010066;
}
.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand,
.navbar.scrolled .navbar-icons a {
  color: #ffffff !important;
}
.navbar-nav .nav-item {
  position: relative;
}
.navbar-nav .nav-item:not(:last-child) {
  margin-right: 5px;
}
.navbar-nav .nav-link {
  display: inline-block;
  /* padding: 10px 15px; */
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.5s ease;
}
.navbar-nav .nav-link:hover {
  border-bottom: 2px solid red;
}
.navbar.scrolled .navbar-icons a:hover {
  color: #ffd700;
}
.navbar-brand {
  width: 90px;
}
.navbar-logo {
  object-fit: cover;
}
.navbar-icons {
  display: flex;
  align-items: center;
}
.navbar-icons a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 10px;
}
.navbar-icons a:last-child {
  margin-right: 0;
}
.navbar-icons a:hover {
  color: #010066;
}
.navbar.scrolled .navbar-icons a.phone-number {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  color: #284057 !important;
}
.navbar .navbar-nav .nav-item {
  color: #2f3c4d !important;
  font-size: 16px;
  font-weight: bold;
}
.navbar .navbar-nav .nav-item .btn {
  font-weight: bold;
}
.text-truncate-custom {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncate-container {
  max-width: 200px; /* Adjust the width as needed */
}
